{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}
<h5 class="card-header mb-3" ><b> Add {{subtopic}} for {{topic}}:</b></h5>

<form action="{% url 'awt:add_subtopic' topic_id=topic.id subtopic=subtopic %}" method="POST" class="form">


    {% csrf_token %}
    {%bootstrap_form subtopic_form%}
<!--    <h4>Summary:{{subtopic_form.summary}} <br>-->
<!--        Details:{{subtopic_form.text}}</h4>-->
    <button type="submit" class="btn btn-success">SUBMIT</button>


</form>


{% endblock %}